include ../helpers/mixin_navbar_left
.content.clearfix
	.content__top.clearfix
		.content__top__day 
			h2 Лучшие предложения 1 – 30 мая
		ul#content_all.content__top__filter.clearfix
			li 
				a.current(href='javascript: void(0);' rel='hit') Хиты 
			li 
				a(href='javascript: void(0);' rel='new') Новинки
			li
				a(href='javascript: void(0);' rel='sale') Скидки
	.content__top_ms
		.content__top_ms__day_ms 
			h2 Лучшие предложения 1 – 30 мая
		.content__top_ms__day_ms_mobile
			h2 Спецпредложения
		ul.content__top_ms__filter_ms.clearfix#content_all_ms
			li 
				a(href='javascript: void(0);' rel='hit') 
					strong Хиты 
			li 
				a(href='javascript: void(0);' rel='new')
					strong Новинки
			li
				a(href='javascript: void(0);' rel='sale')
					strong Скидки

	.row.content__product
		//one row
		.col-lg-6.col-md-6.col-xs-6.all.sale.js-product
			a.area-link(href='javascript: void(0);')
			h4 Apple MacBook Pro 15'' Retina (2014 год)
			h5 Intel Core i7 4870HQ, 16 Гб, 512 Гб (SSD), NVIDIA GeForce GT 750M 2 ГБ, цвет корпуса серебристый, цвет крышки серебристый,...
			ul.list-inline.product__price
				li.product__price-blue
					| 17 540 
					sup 500
				li.product__price-no
					| 19 850 
					sup 750
			ul.product__skils
				li.product__price-green 
					strong Начинающих пользователям
				li.product__price-red
					strong Батарея на 12 часов
				li.product__price-yellow 
					strong Выбор эстетов
			p.detailed Подробнее
			
		.col-lg-2.col-md-6.col-xs-6.all.sale.js-product
			a.area-link(href='javascript: void(0);')
			h4 Aкустические системы F&D
				br
				| R223 Beech 
			h5 Мощность 36 Вт, Частота 25 Гц 20000 Гц, Выход для наушников...				
			ul.list-inline.product__price
				li.product__price-blue
					| 650 
					sup 000
				li.product__price-no
					| 708 
					sup 000
			ul.product__skils
				li.product__price-green
					strong Оптимально для дома
			p.detailed Подробнее
		.col-lg-2.col-md-6.col-xs-6.all.hit.js-product
			a.area-link(href='javascript: void(0);')
			h4 Смартфон Apple iPhone 6 
				br
				| (16Gb)
				h5 Apple iOS, экран 4.7" IPS (750x1334), процессор 1400 МГц (2 ядр.), память 16 ГБ,...		
				ul.list-inline.product__price
					li.product__price-pink
						| 10 157 
						sup 000
			p.detailed Подробнее
		.col-lg-2.col-md-6.col-xs-6.all.sale.js-product
			a.area-link(href='javascript: void(0);')
			h4 планшет Samsung Galaxy Tab 4 10.1 16GB 3G Black (SM-T531) 
			h5 10.1" 1280x800, Android, Qual- comm APQ8064 1200 МГц, ...		
			ul.list-inline.product__price
				li.product__price-pink
					| 4 125 
					sup 000
			ul.product__skils
				li.product__price-green
					strong Скидка -20% до 30 мая
			p.detailed Подробнее

		//two row
		.col-lg-2.col-md-6.col-xs-6.all.sale.js-product
			a.area-link(href='javascript: void(0);')
			h4 Ноутбук Samsung ATIV Book 9 (NP940X5J-K02US) 2014 Edition
			h5 15.6" (1920 x 1080), Intel Core i7 4500U, 8 Гб, 256 Гб (SSD),...
			ul.list-inline.product__price
				li.product__price-blue
					| 28 487 
					sup 000
				li.product__price-no
					| 30 900 
					sup 000
			p.detailed Подробнее
			
		.col-lg-2.col-md-6.col-xs-6.all.hit.js-product
			a.area-link(href='javascript: void(0);')
			h4 Принтер Kyocera Mita FS-1040 
				br
				| R223 Beech 
			h5 принтер, A4 (~210x297), 
				br
				| лазерная черно-белая печать 
				br
				| 600x600 dpi, 6.3 кг			
			ul.list-inline.product__price
				li.product__price-pink
					| 627 
					sup 700
			ul.product__skils
				li.product__price-green
					strong Выбор чемпионов
			p.detailed Подробнее
		.col-lg-6.col-md-6.col-xs-6.all.new.js-product
			a.area-link(href='javascript: void(0);')
			h5.configuration Intel Core i3 (2 ядра)
				br
				|ОЗУ: 4Gb
				br
				|Диск: 750 Gb
				br
				|Экран: 15.6” HD	

			p.detailed Подробнее
		.col-lg-2.col-md-6.col-xs-6.all.sale.js-product
			a.area-link(href='javascript: void(0);')
			h4 Aкустические системы F&D
				br
				| R223 Beech 
			h5 Мощность 36 Вт, Частота 25 Гц 20000 Гц, Выход для наушников...
			ul.list-inline.product__price
				li.product__price-blue
					| 650 
					sup 000
				li.product__price-no
					| 708 
					sup 000
			ul.product__skils
				li.product__price-green
					strong Оптимально для дома
			p.detailed Подробнее
		//three row
		.col-lg-2.col-md-6.col-xs-6.all.sale.js-product
			a.area-link(href='javascript: void(0);')
			h4 планшет Samsung Galaxy Tab 4 10.1 16GB 3G Black (SM-T531) 
			h5 10.1" 1280x800, Android, Qual- comm APQ8064 1200 МГц, ...		
			ul.list-inline.product__price
				li.product__price-pink
					| 4 125 
					sup 000
			ul.product__skils
				li.product__price-green
					strong Скидка -20% до 30 мая
			p.detailed Подробнее
			
		.col-lg-2.col-md-6.col-xs-6.all.new.js-product
			a.area-link(href='javascript: void(0);')
			h3 Muzik &mdash; мощный 
				br
				| чистый звук
			h4 В черном и сером 
				br
				| вариантах
			ul.list-inline.product__price.music
				li.product__price-blue
					| 999 
					sup 000
			p.detailed Подробнее
		.col-lg-2.col-md-6.col-xs-6.all.sale.js-product
			a.area-link(href='javascript: void(0);')
			h4 Модем TP-LINK TD-
				br
				| W8961ND
			h5 ADSL2+., 802.11n, 2.4 ГГц 4 1
			ul.list-inline.product__price
				li.product__price-blue
					| 699 
					sup 000
				li.product__price-no
					| 722 
					sup 000			
			p.detailed Подробнее
		.col-lg-2.col-md-6.col-xs-6.all.hit.js-product
			a.area-link(href='javascript: void(0);')
			h4 Мышь + клавиатура Logitech 
				br
				| Wireless Combo MK220
			h5 мышь + клавиатура, мышь радио (сенсор оптический), клавиатура радио/ 
			ul.list-inline.product__price
				li.product__price-pink
					| 294 
					sup 000		
			p.detailed Подробнее
		.col-lg-2.col-md-6.col-xs-6.all.sale.js-product
			a.area-link(href='javascript: void(0);')
			h4 Ноутбук Samsung ATIV Book 9 (NP940X5J-K02US) 2014 Edition
			h5 15.6" (1920 x 1080), Intel Core i7 4500U, 8 Гб, 256 Гб (SSD),...
			ul.list-inline.product__price
				li.product__price-blue
					| 28 487 
					sup 000
				li.product__price-no
					| 30 900 
					sup 000
			p.detailed Подробнее
		// view
		.col-lg-12.col-md-12.col-xs-12
			a.area-link(href='javascript: void(0);')
			a.content__view(href='javascript: void(0);') Показать еще
				span.glyphicon.glyphicon-refresh
	
	include mobile_content

	.content__footer
		.content__footer__text.clearfix
			h2.pull-left Полезно знать
			h4.pull-right Все статьи
		ul.bxslider
			li
				img(src="images/elastislide1.jpg" alt="picture")
				.bxslider__description
					h6 Как выбрать?
				.bxslider__text.blue
					h5 Выбираем ноутбук: на что следует обратить внимание?
			li
				img(src="images/elastislide2.jpg" alt="picture")
				.bxslider__description
					h6 Обзор
				.bxslider__text.grey
					h5 Lenovo представила бюджетный конкурент Moto E за 60$
			li
				img(src="images/elastislide3.jpg" alt="picture")
				.bxslider__description
					h6 Мнение эксперта
				.bxslider__text.green
					h5 Если дорогой навороченный смартфон, то только iPhone. Советы Миши

			li
				img(src="images/elastislide4.jpg" alt="picture")
				.bxslider__description
					h6 Мнение эксперта
				.bxslider__text.grey
					h5 Выбираем ноутбук: на что следует обратить внимание?

			+slider('images/elastislide1.jpg')
			+slider('images/elastislide2.jpg')
			+slider('images/elastislide3.jpg')
			+slider('images/elastislide4.jpg')
			+slider('images/elastislide1.jpg')
			+slider('images/elastislide2.jpg')
			+slider('images/elastislide3.jpg')
			+slider('images/elastislide4.jpg')
			+slider('images/elastislide1.jpg')
			+slider('images/elastislide2.jpg')
			+slider('images/elastislide3.jpg')
			+slider('images/elastislide4.jpg')