.footer
	.footer__social.row
		.col-lg-3.col-xs-4
			h5 Покупателю
			ul
				li Акции
				li Доставка и самовывоз
				li Условия оплаты
				li Гарантия и сервис
				li Полезно знать
		.col-lg-3.col-xs-4
			h5 О компании
			ul
				li Техника успеха
				li Вакансии
				li Бизнесу
				li Контакты
		.col-lg-3.col-xs-4
			h5 Консультация и заказ
			ul
				li тел: +375 17 289-50-50
				li vel: +375 29 389-50-50
				li мтс: +375 33 389-50-50
				li.small пн-пт 9:00–21:00
				li.small сб-вс 10:00–19:00
		.col-lg-3.col-xs-12
			h5 Присоединяйтесь!
			.f-social
				a.s-vk(href='javascript: void(0);')&nbsp;
				a.s-fb(href='javascript: void(0);')&nbsp;
				a.s-tw(href='javascript: void(0);')&nbsp;
				a.s-yt(href='javascript: void(0);')&nbsp;

	.footer-bottom.row
		.col-md-8
			ul.license
				li &#169; 2010–2015 «Техника успеха»
				li 
					a(href='javascript: void(0);') Карта сайта 
				li 
					h6 В торговом реестре с 23 июня 2010г. Регистрация №190806803, 22.02.2007, Мингорисполком
		.col-md-4
			h6 Разработка сайта — Новый сайт
