.row.content__product_xs.sliderA.clearfix
	input#slider1_1(type='radio', name='slider1', checked='checked')
	label(for='slider1_1')
	.slide
		h4 Apple MacBook Pro 15'' Retina 
			br
			| (2014 год)
			h5 Intel Core i7 4870HQ, 16 Гб, 512 Гб (SSD), NVIDIA GeForce GT 750M 2 ГБ, цвет корпуса серебристый, цвет крышки серебристый,...
			ul.list-inline.product__price
				li.product__price-blue
					| 17 540 
					sup 500
				li.product__price-no
					| 19 850 
					sup 750
			ul.product__skils
				li.product__price-green 
					strong Начинающих пользователям
				li.product__price-red
					strong Батарея на 12 часов
				li.product__price-yellow 
					strong Выбор эстетов
	label(for='slider1_2')
	input#slider1_2(type='radio', name='slider1')
	label(for='slider1_2')
	.slide
		h4 Смартфон Apple iPhone 6 
			br
			| (16Gb)
			h5 Apple iOS, экран 4.7" IPS
				| (750x1334), процессор 1400 МГц (2 ядр.), память 16 ГБ,...		
			ul.list-inline.product__price
				li.product__price-blue
					| 17 540 
					sup 500
				li.product__price-no
					| 19 850 
					sup 750
	label(for='slider1_3')
	input#slider1_3(type='radio', name='slider1')
	label(for='slider1_3')
	.slide
	label(for='slider1_4')
	input#slider1_4(type='radio', name='slider1')
	label(for='slider1_4')
	.slide
	label(for='slider1_1')
	.col-lg-12.col-md-12.col-xs-12
		a.content__view_ms(href='javascript: void(0);') Все лучшие предложения