
table						
	tr.active
		td.modal__product
			h5 Акустические системы
				br
				| F&D R223
			ul.list-inline.modal__product__price
				li
					| 650 
					sup 000
				li.product__price-no
					| 708 
					sup 000
		td 
			include spinner
			a(href='') Удалить
	tr
		td.modal__product 
			h5 Акустические системы
				br
				| Sony 1878
			ul.list-inline.modal__product__price
				li.dark-blue
					| 1 230 
					sup 000
		td 
			include spinner2
			a(href='') Удалить
	tr
		td.modal__product 
			h5 Акустические системы
				br
				| Sony 1878
			ul.list-inline.modal__product__price
				li.text Предзаказ: доставка 
					span через 10-14 дней
		td 
			include spinner3
			a(href='') Удалить
	tr
		td.modal__product 
			h5 Акустические системы
				br
				| Sony 1878
			ul.list-inline.modal__product__price
				li
					| 650 
					sup 000
				li.product__price-no
					| 708 
					sup 000
		td 
			include spinner4
			a(href='') Удалить