nav.navbar.menu__top(role="navigation")
	.container-fluid
		.collapse.navbar-collapse#bs-example-navbar-collapse-2
			ul.nav.navbar-nav
				li
					a(href='javascript: void(0);') Доставка и самовывоз 
				li.dropdown
					a.dropdown-toggle(href='javascript: void(0);', data-toggle='dropdown') Оплата
						b.caret.glyphicon.glyphicon-chevron-down
					ul.dropdown-menu
						li
							a(href='javascript: void(0);') Оплата заказа
						li
							a(href='javascript: void(0);') Рассрочка 0% переплата
						li
							a(href='javascript: void(0);') Кредит
						li
							a(href='javascript: void(0);') Для юридических лиц
				li
					a(href='javascript: void(0);') Контакты
				li
					a(href='javascript: void(0);') Гарантия и сервис
				li.dropdown
					a.dropdown-toggle(href='javascript: void(0);', data-toggle='dropdown') О компании
						b.caret.glyphicon.glyphicon-chevron-down

					ul.dropdown-menu
						li
							a(href='javascript: void(0);') Action
						li
							a(href='javascript: void(0);') Another action