//spinner
.input-group
	span.input-group-btn
		button.btn.btn-default(type='button', data-value='decrease', data-target='#spinner', data-toggle='spinner')
			span.glyphicon.glyphicon-chevron-left
	input#spinner.form-control.input-number(type='text', data-ride='spinner', value='1')
	span.input-group-btn
		button.btn.btn-default(type='button', data-value='increase', data-target='#spinner', data-toggle='spinner')
			span.glyphicon.glyphicon-chevron-right
			//exit spiner