@font-face
    font-family "AFuturica"
    src url("../fonts/afuturica.ttf") format("truetype")
    font-style normal
    font-weight normal

@font-face
    font-family "AFuturicaExtraBold"
    src url("../fonts/afuturicaextrabold.ttf") format("truetype")
    font-style normal
    font-weight normal